body {
    margin: 60px auto;
    max-width: 100vw;
    font-family: "Times New Roman", Times, serif;
  }
  
  h1 {
    font-family: 'Ultra', Times;
    font-size: 74px;
  }
  h2 {
    font-family: "Times New Roman", Times;
    font-weight: bold;
    font-size: 48px;
  }
  h3 {
    font-family: 'Vidaloka', serif;
    font-size: 24px;
    opacity: 0.7;
  }
  .grey {
    opacity: 0.8;
  }
  small {
    font-size: 14px;
  }
  .link {
    display: flex;
    margin-top: 40px;
    justify-content: right;
  }
  .link a {
    margin: 20px;
    padding: 20px 15px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: capitalize;
  }
  .homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
    text-decoration: none;
  }
  .paragraf {
    margin-top: 8vh;
  }
 
  p {
    border-radius: 10px;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
  }
  .emeil {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
  }
.center {
  text-align: center;
}

.project {
  text-align: center;
  margin: 20px 20px;
}
.fa-brands, .fa-solid {
  opacity: 0.7;
}
.footer {
  background: #F8F9FA;
  margin: 0 20px;
}
i {
  margin: 0 20px;
}
.content {
  margin: 20px 0 0;
}
.logo {
  max-width: 200px;
  max-height: 50px;
}
.nav-link {
  font-weight: 500 !important;
  font-size: large !important;
}
@media (max-width: 375px) {
  h1 {
    font-size: 24px;      
  }
  h2 {
    font-size: 20;
  }
  h3 {
    font-size: 16px;
  }
  .link {    
margin-top: 10px;    
}
.link a {
margin: 5px;
padding: 5px 3px;
}
}
@media (max-width: 414px) {
  h1 {
    font-size: 28px;  
  }
  h2 {
      font-size: 24px;
    }    
  h3 {
    font-size: 20px;
  }
  .link {    
margin-top: 12px;    
}
.link a {
margin: 6px;
padding: 6px 4px;
}
}
@media (max-width: 280px) {
  h1 {
    font-size: 20px;      
  }
  h3 {
    font-size: 12px;
  }
  h2 {
    font-size: 16;
  }
  .link {    
margin-top: 6px;    
}
.link a {
margin: 2px;
padding: 2px 1px;
}
}


